<h1>Listing all Todos</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<% @todo.each do |todo| %>
	<tr>
		<td><%= todo.name %></td>
		<td><%= todo.description %></td>
	</tr>
	<% end %>
	</table>